{% extends "global/index.html" %}


{% block titulo %}
<h1>All Posts<h1>
{% endblock %}

{% block content %}
{{ mensaje }}


<img src="{{ avatar }}" alt="">
{% if posts %}
 {% for post in posts %}
 <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ post.titulo }}</h1>
                    <h2 class="subheading">{{ post.subtitulo }}</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">{{ post.autor }}</a>
                        on {{ post.fecha }}
                    </span>
                </div>
            </div>
        </div>
    </div>
 </header>


 <article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 justify-content-center">
                
                <p> {{ post.post }} </p>
                
                
                   
                    <a >Para leer mas vaya al buscador de posteos</a>
                    
                </p>
            </div>
        </div>
    </div>
 </article>
 {% endfor %}
{% else %}
  <p>No se encontro nada en su busqueda</p>
  <form action="{% url 'postsfinder' %}" method="GET">
    
 
 
 
    <input type="submit" value="Volver a la pagina de busqueda">
 
 
 </form>
{% endif %}

{% endblock %}